
.titulo {
    margin: 2% 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
}

.image-cafe {
    border: 5px solid black;
    width: 100%;
}

.input-leche-nueva {
    border: 2px solid black;
    width: 100%;
}

.contenedor-cambios {
    padding: 2% 10%;
}

td:hover {
    background-color: #cecece;
}

th {
    border: 1px solid #D5D9D9;
    background-color: #c3bef0;
    padding: 2%;
}

tr {
    padding: 1;
}